/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v19-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* princess-sofia-regular - latin */
@font-face {
  font-family: "Princess Sofia";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/princess-sofia-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/princess-sofia-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", serif;
  font-weight: 400;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  cursor: pointer;
  color: #1f3347;
  min-height: 56px;
  padding: 16px 50px;
  font-weight: 600;
  background-color: #ffc814;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #f3da87;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header {
  width: 100%;
  position: absolute;
  color: #fff;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__logo {
  font-size: 36px;
  line-height: 54px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__item + * {
  margin-left: 50px;
}
.header__btn_transp {
  background-color: transparent;
  color: #fff;
  margin-left: 10px;
}
.hero {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 285px;
  position: relative;
}
.hero__info {
  max-width: 488px;
  color: #fff;
  line-height: 30px;
}
.hero__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 17px;
}
.hero__actions {
  margin-top: 38px;
}
.hero__btn {
  padding: 16px 36px;
}
.hero__btn_white {
  background-color: #fff;
  margin-left: 20px;
}
.banner__types {
  display: flex;
}
.banner {
  width: 100%;
}
.banner__item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px 4px 0px 0px;
  transition: 0.3s;
}
.banner__item img {
  margin-right: 12px;
}
.banner__item:hover {
  background-color: #ffc814;
}
.banner__info {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 6px 24px #e4e2ee;
  padding: 40px 30px;
}
.banner__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.banner__categories span {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 6px 24px #e4e2ee;
  width: 170px;
  height: 56px;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 4px;
  margin-top: 7px;
}
.banner__btn {
  margin-left: 34px;
  padding: 16px 40px;
  margin-top: 30px;
  width: 15%;
}
.hero__banner {
  position: absolute;
  bottom: -96px;
}
.about-us {
  padding-top: 190px;
}
.about__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about__background {
  top: -100px;
  left: 0;
  position: absolute;
  z-index: -1;
  font-weight: 600;
  font-size: 430px;
  line-height: 300px;
  color: rgba(244, 246, 250, 0.8);
}
.about__image {
  position: relative;
  margin-right: 80px;
}
.about__img_02 {
  position: absolute;
  bottom: -60px;
  right: -120px;
}
.about__info {
  color: #9da1b4;
  max-width: 520px;
}
.about__suptitle {
  font-family: "Princess Sofia", sans-serif;
  color: #ffc814;
  font-size: 24px;
  line-height: 15px;
  font-weight: 400;
}
.about__title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: #1f3347;
}
.about__list {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about__item {
  line-height: 36px;
}
.about__item span {
  margin-right: 15px;
}
.about__benefits {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.about__benefits span {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #ffc814;
}
.about__btn {
  margin-top: 50px;
}
@media (max-width: 1350px) {
  .hero {
    background-position: top;
  }
  .about__background {
    font-size: 300px;
    right: 180px;
  }
}
@media (max-width: 1150px) {
  body.lock {
    overflow: hidden;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f3347;
    z-index: 2;
  }
  .header__container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3072b4;
    transition: all 0.3s;
  }
  .header__nav {
    flex-direction: column;
  }
  .header__list {
    align-items: center;
    flex-direction: column;
    font-size: 40px;
  }
  .header__logo {
    font-size: 80px;
    margin-bottom: 70px;
  }
  .header__item + * {
    margin-left: 0px;
    margin-top: 40px;
  }
  .header__actions {
    margin-top: 70px;
  }
  .header__actions .btn {
    font-size: 40px;
  }
  .header__burger {
    background-color: #515e7ada;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
    width: 70px;
    height: 70px;
  }
  .burger__line {
    display: inline-block;
    position: relative;
    background-color: #fff;
    height: 5px;
    width: 80%;
  }
  .burger__line.active::before {
    transform: rotate(45deg);
    top: 2px;
    transition: all.3s;
  }
  .burger__line.active::after {
    transform: rotate(-45deg);
    top: 2px;
    transition: 0.3s;
  }
  .burger__line.active {
    background-color: transparent;
  }
  .burger__line::before,
  .burger__line::after {
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    background-color: #fff;
    width: 100%;
  }
  .burger__line::before {
    top: 20px;
  }
  .burger__line::after {
    top: -20px;
  }
  .header__container.active {
    top: 0;
  }
  .banner {
    bottom: -450px;
  }
  .banner__info {
    flex-direction: column;
  }
  .banner__list {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .banner__categories {
    width: 33%;
    justify-content: center;
    align-items: center;
  }
  .banner__categories:nth-child(2) {
    margin-bottom: 50px;
  }
  .banner__categories span {
    padding: 20px 0 0 0;
    align-items: center;
    min-width: 100px;
    text-align: center;
    width: 50%;
  }
  .banner__btn {
    margin-left: 0px;
    padding: 0 20px;
    min-width: 120px;
  }
  .hero {
    background-position: right;
    position: relative;
  }
  .hero__container {
    position: relative;
    z-index: 5;
  }
  .hero::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .about__image {
    width: 500px;
    margin-bottom: 60px;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__background {
    display: none;
  }
}
@media (max-width: 644px) {
  .hero__actions {
    display: flex;
    flex-direction: column;
  }
  .hero__btn_white {
    width: 387px;
    margin-left: 0;
    margin-top: 10px;
  }
  .banner {
    position: relative;
    bottom: -200px;
  }
  .banner__types {
    flex-direction: column;
    align-items: center;
  }
  .banner__item {
    width: 100px;
    margin-bottom: 30px;
  }
  .banner__list {
    flex-direction: column;
  }
  .banner__categories {
    margin-bottom: 50px;
  }
  .about__image img {
    position: relative;
    left: 50px;
  }
  .about__img_02 {
    position: relative;
    left: 0;
    bottom: -50%;
  }
}
@media (max-width: 370px) {
  .banner__btn {
    margin-left: 20px;
  }
  .about__info span {
    font-size: 30px;
  }
  .about__info p {
    font-size: 14px;
  }
}
